html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*custom*/

.card {
    background-color: #f0f0f0;
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accept {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.danger {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.accept:hover {
    background-color: #218838;
    transition: background-color 0.2s ease;
}

.accept:disabled {
    background-color: #94d3a2;
}